# Proxmox VE API endpoint
PROXMOX_VE_ENDPOINT="https://pve-node01.int.jrtashjian.com:8006"

# Proxmox VE authentication credentials
PROXMOX_VE_USERNAME=
PROXMOX_VE_PASSWORD=

# Authentik API credentials
AUTHENTIK_URL=
AUTHENTIK_TOKEN=

# Credentials for Terraform to authenticate with Proxmox
TF_VAR_terraform_username=
TF_VAR_terraform_password=

# Token for InfluxDB integration
TF_VAR_influxdb_token=

# Cloudflare API credentials for ACME DNS plugin
TF_VAR_cloudflare_token=
TF_VAR_cloudflare_account_id=
TF_VAR_cloudflare_zone_id=
